<div id="main">
  <h1 class="title"></h1>
  <p class="common-place"></p>
  <h2>User List</h2>
  <table id="user-list">
    <tr>
      <td></td>
    </tr>
  </table>

  <%= link_to 'Show', user_path(id: 1), remote: true %>
  <%= link_to 'New', new_user_path %>
</div>
